:root {
    --dark-background: #1992d4;
    --dark-text: #e2e8f0;
    --light-background: #fff;

}


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:visited {
    color: black;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

/* Header */

header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: repeat(2, 10px);
}

.searchbar,
.profile {
    display: grid;
    padding-left: 30px;
    padding-bottom: 20px;
}

.profile > .image-text {
    gap: 20px;
}

.profile-statement > div {
    font-weight: bold;
}

.profile-ats {
    font-size: 1.25em;
}

input {
    flex: 1;
    padding: 0.5em 10px; 
    border-radius: 20px;
    margin: 10px;
}

.account,
.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: right;
    gap: 20px;
    padding: 10px 20px;
}

.account > .image-text {
    font-size: 1.25em;
    font-weight: bold;
    text-wrap: nowrap;
    grid-column: 3/4;
}

.account > img {
    grid-column: 2 /3;
}

button {
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 600;
}

/* Nav bar */

nav {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.navbar,
.settings {
    display: grid;
    gap: 10px;
}



/* Main */

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    gap: 20px;
    background-color: #94a1b0;
}

/* list items */
.tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.tile {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-row: 3fr 1fr;

    width: minmax(200px, 1fr);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.tile .text {
    grid-column: 1 / 3;
}

.actions {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

/* Aside items */

aside {
    display: grid;
    gap: 20px;
}

/* Pictures and icons */
.profile-icon {
    border-radius: 50%;
    width: 4em;
}

.icon {
    width: 1.5em;
}

.logo,
.profile-icon.mini {
    width: 3em;
}

.image-text,
.nav-item,
.dash-title {
    display: flex;
    align-items: center;
    gap: 5px;
}


/* Shared Colors */

header,
.tile,
.updates,
.people {
    background-color: var(--light-background);
}

nav,
button {
    background-color: var(--dark-background);
}