:root {
    --nav-background: blue;

}


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

/* Header */

header {
    grid-column: 2 / 3;
}

.search {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: 1fr 1fr;
}



/* Nav bar */

nav {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.navbar,
.settings {
    display: grid;
    gap: 10px;
}


/* Main */

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    gap: 20px;
}

/* list items */
.tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.tile {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-row: 3fr 1fr;

    width: minmax(200px, 1fr);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.tile .text {
    grid-column: 1 / 3;
}

.actions {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Aside items */

aside {
    display: grid;
    gap: 20px;
}

/* Pictures and icons */
.profile-icon {
    border-radius: 50%;
    width: 4em;
}

.icon {
    width: 1.5em;
}

.logo,
.profile-icon.mini {
    width: 3em;
}

.image-text,
.nav-item,
.dash-title {
    display: flex;
    align-items: center;
    gap: 5px;
}
